[2017-02-02 14:58] dwmkerr opened #1 "The first run of the install script fails with ansible-playbook: command not found"
Run the install script, the first time you'll see:

[code]

Run it again - no problems. Annoying.

[2017-02-04 14:24] incubus8 opened #2 "Openshift (Docker) Registry"
Hi Dave,

it's me Rheza, from Jenius.
Will be good if we have docker registry in this setup. We can specify it easily with S3 as storage in ansible inventory.

[2017-02-04 17:41] dwmkerr commented on #2
Hi @incubus8 good idea. Currently the setup has a registry but it is ephemeral, so it'll get wiped on restart. Will see what I can do!

[2017-02-04 17:41] dwmkerr opened #3 "Support Persistent Volumes"
Two options:

a. AWS EFS. Easy, but only available in a few regions
b. AWS EBS. Harder, single AZ only, but global.

Probably go for the first one to start with

[2017-02-06 16:26] dwmkerr commented on #2
Hi @incubus8 was just looking into this, the registry service is definitely running by default as part of this setup:

![image](https://cloud.githubusercontent.com/assets/1926984/22655249/29ff83ac-ecc2-11e6-869a-6168c992cd78.png)

![image](https://cloud.githubusercontent.com/assets/1926984/22655337/6f4e4c9a-ecc2-11e6-9b4e-66e45d24c4f1.png)

Were you having issues with it? Or is it only that you ne

[2017-02-24 14:13] #1 closed

[2017-02-26 12:16] dwmkerr opened #5 "Secrets are not working for each node"
It seems there might be an issue with the way the nodes are created. When setting up a new cluster with the scripts, the second node runs successfully with pull secrets, but the first doesn't...

[2017-02-27 07:42] dwmkerr opened #6 "Public DNS is being re-written"
When a valid public DNS such as `xip.io` is used, it is rewritten. E.g:

[code]

Becomes:

[code]

Would be good if we can use the same DNS consistently (is this just config in the template file?)

[2017-02-28 08:44] dwmkerr opened #7 "Support easily customisable DNS"
It would be nice to support integrating a domain name, e.g. if I've bought something like `test.com`, where can I update the code to make sure `test.com` is used? See also #6.

[2017-03-02 15:07] #5 closed

[2017-05-04 13:34] fire opened #9 "Update to openshift 1.5"
Openshift 1.5 is now avaliable.

[2017-05-05 17:11] dwmkerr commented on #9
PR raised to change this - do you need it now? If so can you clone run the setup, if it works I'll go ahead and merge (otherwise I'll wait till I get the time to test). Cheers!

[2017-05-30 11:32] #9 closed

[2017-06-29 17:56] jagannathsarma opened #11 "module.openshift.aws_iam_instance_profile.openshift-instance-profile: "roles": [DEPRECATED] Use `role` instead. Only a single role can be passed to an IAM Instance Profile"
Hi Dave,
Can you please check the below error.

Error : Error applying plan:

1 error(s) occurred:

* module.openshift.aws_iam_instance_profile.openshift-instance-profile: 1 error(s) occurred:

* aws_iam_instance_profile.openshift-instance-profile: Error creating IAM instance profile openshift-instance-profile: EntityAlreadyExists: Instance Profile openshift-instance-profile already exists.
	statu

[2017-06-29 20:50] jagannathsarma commented on #11
Changed few lines in 03-roles.tf
`resource "aws_iam_policy_attachment" "openshift-attachment-forward-logs" {
    name       = "openshift-attachment-forward-logs"
 -  roles      = ["${aws_iam_role.openshift-instance-role.name}"]
 +  role      = "${aws_iam_role.openshift-instance-role.name}"
    policy_arn = "${aws_iam_policy.openshift-policy-forward-logs.arn}"
  }

  //  Create a instance profile f

[2017-07-10 03:46] dwmkerr commented on #11
Hi @jagannathsarma I'll look into this this week.

One quick question - it looks like the setup failed because the role already existed. Have you tried removing all resources created by terraform and recreating?

[2017-07-10 05:40] jagannathsarma commented on #11
@dwmkerr yes Dave I tried it then it worked with above mentioned edits, but cloud trail is giving issues so to make this setup work I have disabled cloud trail in my setup. and Even tried enabled hawkular-metrics from the link that you provided in docs, unfortunately that did not work.

[2017-07-16 11:24] dwmkerr commented on #11
Hmm definitely something weird going on. I've had trouble with roles before, I might be wrong but from memory there are some thing terraform cannot easily do with roles because it can be difficult to tell when they are fully created. I'll take a look

[2017-09-14 14:44] tobmat opened #13 "No OpenShift version available, please ensure your systems are fully registered and have access to appropriate yum repositories"
I changed the deployment_type=openshift-enterprise
I manually logged into the master,node1, and node2 and registered with redhat and attached a pool ID with openshift subscriptions.

Is there a manual way for me to verify I have the subscription I need?  Here are the ones associated with the pool ID I used:

Red Hat OpenShift Container Platform Broker/Master Infrastructure

Red Hat OpenShift Enter

[2017-09-20 01:15] dwmkerr commented on #13
Hi @tobmat hmm that's a good question. I initially set up Enterprise and had some similar problems, but the issue is that I don't have an enterprise license anymore to test the issue. I had tonnes of problems registering my RHEL instances and had to call them from support, it turns out my license didn't allow me to install on the required three nodes.

As it's an enterprise it might be worth check

[2017-09-26 13:33] tobmat commented on #13
Thanks for the info.  I will open a support ticket with them.  For contest is this process performing the unattended install as referenced here:  https://docs.openshift.com/enterprise/3.0/install_config/install/quick_install.html#running-an-unattended-installation

If so,  is the installer.cfg.yml file referenced dynamically created or located somewhere in the repo.  I tried to figure it out but s

[2017-10-02 18:54] jayunit100 commented on #13
@dwmkerr we are happy to test this for you on a regular basis,  with OSE , have time to sync over the phone about it to collaborate ?

[2017-10-02 20:48] jayunit100 commented on #3
maybe get fancy and do container native gluster?

[2017-10-05 16:02] jayunit100 opened #14 "Add a router"
It Looks like no routers are being configured in these installations ?

[2017-10-08 06:14] dwmkerr commented on #14
The default haproxy ingress should be set up by standard, but it would be great to document this in more detail, as well as how to customise the router!

[2017-10-08 12:28] jayunit100 commented on #14
Yes not sure what the default admin login is so I can't see kube-system / default namespaces .

[2017-10-08 12:28] jayunit100 commented on #14
I guess follow up ==> How do we admin the cluster ...

[2017-10-09 12:29] jayunit100 commented on #3
Another option I've heard of is just NFS on a AWS node.

[2017-10-09 12:36] jayunit100 commented on #14
Oh, one other thing, I guess the HAproxy router node will need opened ports in AWS....

[2017-10-10 04:58] dwmkerr commented on #13
@jayunit100 yes that would be helpful if I can get help testing! I would be able to talk the week after next (am swamped with work at the moment) would that work for you?

[2017-10-10 05:07] dwmkerr commented on #3
Gluster would be nice, I'm working with a team who are migrating to it at the moment, so far the easiest option I've seen is AWS EFS (which is basically NFS on a node but as a managed service), unfortunately not available in all regions yet! I'm actually working on an example of splunk integration, then will take a look at persistence. I'm thinking of adding 'recipes' to this repo, which are pull

[2017-10-10 05:08] dwmkerr commented on #14
Yeah let me take a look in to this, am spending some time on the repo at the moment

[2017-10-10 12:15] dwmkerr commented on #14
Hi @jayunit100 hopefully this should help!

I've added more explicit documentation on how to manage and administer the cluster - including how to get on the master node so that you can run the commands needed to handle the router:

https://github.com/dwmkerr/terraform-aws-openshift#accessing-and-managing-openshift

In short:

1. The router is actually created by default, if you want to see it runn

[2017-10-10 12:15] #14 closed

[2017-10-10 12:16] dwmkerr commented on #11
This issue has been solved, but for anyone who sees something similar, make sure to update your terraform client since these changes went in!

[2017-10-10 12:16] #11 closed

[2017-10-10 12:30] jayunit100 commented on #14
Awesome thanks dwm.  Do you need help running this in continuous deployment  ?

Am happy to collaborate and have resources for ec2 to make this a "de facto" origin from zero recipe for the community.

Just reach out - happy to collaborate.

[2017-10-10 15:25] tobmat commented on #13
My priorities have been shifted to some other initiatives at the moment.  I'm pretty sure we will return to this at some point.

[2017-10-11 03:10] jayunit100 commented on #13
Yeah that's fine; chat next week about this

[2017-10-13 12:48] dwmkerr commented on #6
The fix is here:

https://github.com/dwmkerr/terraform-aws-openshift/pull/15/files#diff-200575d1f83d095c0a50bc7ce80f1237R19

It is, indeed, a line in the config file

[2017-10-13 13:10] #6 closed

[2017-10-15 02:49] dwmkerr opened #17 "Add htpasswd_auth Authentication"
We should create an admin user by default, see:

https://docs.openshift.com/enterprise/3.0/install_config/install/advanced_install.html

[2017-10-15 11:38] dwmkerr opened #18 "Support Internal DNS Hostnames for OpenShift Nodes"
If we set the ec2 instance `hostnames` then we'll get better logs and info when ssh-ing (we're nearly there, with internal DNS setup, adding the hostname is the last part)

[2017-10-15 13:32] dwmkerr commented on #18
Note: might be able to just pull the dns name via the userdata (or by querying the internal dns config) on the startup script...

[2017-10-15 14:58] #17 closed

[2017-10-16 16:22] jayunit100 opened #20 "Think of a good way to deal w/ undestroyed clusters."
I'm working on making an ephemeral infrastructure out of this - and to do that - it seems like some manual deletion needs to happen:

[code]

- It seems like we can't necessarily always rely on `terraform destroy`, because that command expects that terraform at least ran once successfully, locally, in order to know what needs to be destroyed.
- Maybe we can make completely new resource names every

[2017-10-16 16:33] sheppduck commented on #20
Can you create a new project (namespace?) every time you spin something up?

[2017-10-16 17:35] jayunit100 commented on #20
that would be a cool solution : 'AWS namespaces' if they existed.

[2017-10-16 17:55] jayunit100 opened #21 "var.region is requested when running terraform destroy"
Looks like sometimes, if create fails, destroy winds up prompting you ...  about where the cluster should be "deployed into".
[code]

This is fixable by adding the `region=` thingy to terraform.tfvars.

Not sure if there is another way to serialize this file out earlier in the apply process ?  Or if there is something specific about our terraform setup that is causing it to ask that question (usin

[2017-10-16 18:37] jayunit100 commented on #20
diving deeper:

I can see all the states:
[code]

But, the resources that are failing here, lilke:

[code]

Are not actually shown listed in the state list ~ so ~ terraform is getting into an intermediate state WRT
[code]

[2017-10-16 20:51] jayunit100 opened #22 "Add README for deleting instance profile ."
When re-creating, you need to do this:

[code]
Because I think the instance-profiles otherwise cause a terraform error.

Maybe add it to the shell script or something?

Note: otherwise this is a hard error to fix,  bc instance-profiles dont show up in the AWS console :)

[2017-10-17 15:10] sheppduck commented on #20
My other idea is using tags

[2017-10-17 18:32] dwmkerr commented on #21
That's very strange, so is the issue you are seeing that you cannot re-create after destroying? When testing I've been using this at lot:

[code]

which has been working fine, so I've not seen this issue so far!

[2017-10-18 07:55] jayunit100 commented on #20
I guess the only resource that is undestroyed is the instance profile stuff ; the way to deal with this is

1) if terraform exited in a weird state manually delete resrouces that won't get found via destroy

2) the one other resource you need to delete manually is the instance_profile resource

So closing since there is a workaround and it isn't really a bug in this repo  ; rather just a issue w t

[2017-10-18 07:55] #20 closed

[2017-10-18 07:57] jayunit100 commented on #21
Do you modify tfvars manually before running the above ?

[2017-10-18 07:57] jayunit100 commented on #22
Done ; closing.  Thanks for the quick review @dwmkerr!

[2017-10-18 08:00] jayunit100 commented on #3
Cool.  Yeah I did gluster on a kube cluster this week ; it wasn't too bad; actually there's a good terraform recipe I used for it ... the glue was to add endpoints to a service definition that pointed to your gluster nodes.

[2017-10-18 10:32] dwmkerr commented on #3
That's cool :) I've managed to get an EBS backed docker file storage for the nodes now in the current master branch, which is correctly formatted for docker storage which is cool, the other very exciting change is the 'splunk' recipe I'm just finishing which shows how to integrate with splunk, this'll be ready to publish in a few datys

[2017-10-20 15:52] akelley opened #26 "Broker API"
Does the broker api not get created/started during the initialization process on the master?  I get a 403 when trying to call the endpoint `/broker/rest/api`.  Is there a command to start up the broker or can the script be modified to include that service?

[2017-10-21 12:06] dwmkerr commented on #26
Hi there @kelleyaj do you mean the new tech preview service broker?

https://blog.openshift.com/whats-new-openshift-3-6-service-catalog-brokers-tech-preview/

If so, it's not set up by default, but I could potentially add it as a recipe you can mix into the project!

[2017-10-21 19:15] kelleyaj commented on #26
Yes sorry, I now see that it is in the next release 3.6 tech preview.  I have a external Jenkins instance where I am trying to utilize open shift for application deployment, it uses a plugin that needs a broker url to call.  See here - https://blog.openshift.com/deploy-openshift-external-jenkins-instance/
That would be great if it can be added!  Sorry I would do a pull myself but I am still coming

[2017-10-30 18:14] dwmkerr commented on #21
The only thing I've got in my `*.tfvars` is:

[code]

[2017-11-05 18:57] dwmkerr commented on #14
Running in a continuous fashion would be great, what did you have in mind? One challenge I've seen (at least for members of the community) is that the size of the instance needed to run the master node is quite large, which makes the running costs reasonably high. It's not a problem so much for me as I have a certain amount of AWS credit to work with and just run the project for a short while, but

[2017-11-05 18:59] dwmkerr commented on #26
Looks really interesting! I'll take a look at the broker set up and see if it can be included somehow as an optional component :)

[2017-11-29 22:25] rberlind opened #27 "Would like to get this working with OpenShift Origin 3.7"
When I try to use release-3.7 or release-3.7.0day by specifying them in the git clone command inside install-from-bastion.sh, I end up getting error at the end of the Ansible run:

TASK [template_service_broker : Reconcile with RBAC file] **********************
fatal: [master.openshift.local]: FAILED! => {"changed": true, "cmd": "oc process -f \"/tmp/tsb-ansible-keZijh/rbac-template.yaml\" | oc au

[2017-11-29 22:30] rberlind commented on #27
I should add that I don't know ansible at all.  I was unsure what the instruction at the end about retrying with `--limit @/home/ec2-user/openshift-ansible/playbooks/byo/config.retry` meant. Does it mean retry the single `oc process -f "/tmp/tsb-ansible-keZijh/rbac-template.yaml" | oc auth reconcile -f -` command and add the extra part?  Or does it mean to retry the entire `make openshift` command

[2017-12-01 21:20] rberlind commented on #27
I tried adding openshift_repos_enable_testing=true to inventory.template.cfg file as suggested in response to https://github.com/openshift/openshift-ansible/issues/6086.  That did get past the RBAC error, but I then saw:

FAILED - RETRYING: Verify that TSB is running (1 retries left).
fatal: [master.openshift.local]: FAILED! => {"attempts": 120, "changed": false, "cmd": ["curl", "-k", "https://api

[2017-12-01 21:55] rberlind commented on #27
That did not work either, but I now think I had added the new variables in the wrong part of the file, under [nodes] instead of under [OSEv3:vars].  I will retry.

[2017-12-01 23:04] rberlind commented on #27
Unfortunately, even when I put the variables in the right place, the TSB running could not be verified.  However, good news is that I was able to install OpenShift Origin 3.7 by disabling the service catalog and TSB with:

openshift_enable_service_catalog=false
template_service_broker_install=false

One other note for you: I think you should technically include "etcd" under [OSEv3:children] at top

[2017-12-02 19:20] rberlind opened #28 "Would it be possible to add AWS ALB and make it route to LoadBalancer services?"
I was able to deploy some pods and services, but found that I had to expose my service (type LoadBalancer) with an OpenShift Route in order to access it from the internet even though it was assigned a public IP.  When running the same pods and services on GKE and ACS, I did not have to create a route.  I believe that the provisioning of the k8s clusters in those managed k8s services (which I did w

[2017-12-03 23:50] dwmkerr commented on #28
Hi @rberlind I'm not sure I understand - in OpenShift a service is not accessible outside of the k8s software defined network unless it is assigned a route. It is the route itself which allows ingress to the service. When you say you want to access something via public IP, do you mean assigning a public IP to the worker node the service is running on?

Usual setup for OpenShift would be that the i

[2017-12-04 01:12] rberlind commented on #28
Thanks @dwmkerr (Dave).

When I deployed the same pods and services to Azure Container Service and Google Container Engine, I did not need to create a "Route" which seems to be an OpenShift construct rather than a Kubernetes construct.  Those are managed k8s implementations, so they are probably provisioning extra things and doing the wiring for me so that any services I add with type LoadBalancer

[2017-12-08 04:43] dwmkerr commented on #28
No problems - you are right the whole route concept is specific to OpenShift, under the hood it uses `haproxy` in some pods to route external traffic to the pods, quite a neat concept. Anyway, good luck with it! I'm assuming it is OK to close the ticket now?

[2017-12-08 05:00] dwmkerr commented on #27
Hmm OK cool I'll take a look at this, thanks for sharing @rberlind!

[2017-12-08 13:19] rberlind commented on #27
No problem.  Thanks for putting together this repo.  It was very helpful to me.

[2017-12-08 13:19] rberlind commented on #28
Yes.  I'll close.

[2017-12-08 13:19] #28 closed

[2017-12-19 13:00] ribeaud commented on #2
Hi,
Related to this issue, how can I access the registry from outside?
Currently, I am _pulling_ the images from [AWS ECR](https://aws.amazon.com/ecr/). But, because we already have a **Docker** registry in this installation, I would like to be able to directly _push_ to it. How could I?
Given the defined _docker-registry-default_ route:
<img width="1081" alt="openshift" src="https://user-images.g

[2017-12-19 13:16] ribeaud commented on #2
Hi,
OK, just found out. The _registry-console-default_ provides me the answer:
1. Login to the registry console (https://registry-console-default.xx.xxx.xxx.xxx.xip.io/) using **OpenShift** credentials. This will provide you the credentials for accessing the registry. And, by the way, nicely displays the current state of the registry.
1. Add _docker-registry-default.xx.xxx.xxx.xxx.xip.io_ to the l

[2017-12-20 10:43] #2 closed

[2017-12-20 10:44] dwmkerr commented on #2
@ribeaud thanks for the info - to make things clearer in the future I've added a lot more documentation on this in the `README.md` file.

[2017-12-20 12:37] ribeaud commented on #2
@dwmkerr marvelous! Thanks and cheers, christian.

[2018-01-08 14:00] ribeaud opened #31 "Stopping and starting the EC2 instances (master and nodes)"
Hi,

This is more a question than an issue.

Can I shutdown/start the **EC2** instances without any bad surprise? What are the consequences I should be aware of? Of course, I could try on my own but I've already got some projects on my **OpenShift** installation.

I am asking because of following concern: **OpenShift** installation done by this project generates monthly costs of around _500$_. The

[2018-01-09 13:39] ribeaud opened #32 "'make ssh-[master|node1|node2]' does no longer work"
Hi,
For some reason I currently do not understand, I'm no longer able to directly SSH access the _master_ resp. the _nodes_. `make ssh-master` does no longer work (it used to). `ssh master.openshift.local` from the **bastion** does not work neither. However my **OpenShift** installation works perfectly.
I see that the **EC2** instances are using the _openshift_ key pair name. However I do not own

[2018-01-16 13:35] dwmkerr commented on #31
Hi @ribeaud,

Thanks for reaching out. I've been doing some research and I think there's a good chance this is risky. All OpenShift data I assume is kept in the same store as for Kubernetes, which means the etcd cluster. The docs for backing it up and restoring make it seem like a reasonably involved process.

However, you might be able to get away with it by snapshotting the master node, then re-

[2018-01-16 14:32] ribeaud commented on #31
Hi,

Thanks for the feedback and the hints. I think as well, this is risky.
I will try to _snapshot_ the master node and have a look at **Helm**.

Regards,

christian

[2018-01-17 08:06] dwmkerr commented on #32
Very strange, I did a fresh checkout and it worked fine for me with the latest code.

Can you try running:

[code]

To make sure your local identity is added?  I wonder if your ssh agent is not running, so unable to forward your identity to the bastion...

[2018-01-17 08:25] ribeaud commented on #32
Hi. Just tried out now. Worked like a charm. Thank you. christian.

[2018-01-17 08:25] #32 closed

[2018-01-17 08:55] dwmkerr commented on #32
no worries!

[2018-01-18 02:38] dwmkerr commented on #31
Cool, let me know how it goes, if it works I'll update the docs!

[2018-01-22 13:20] yves-vogl commented on #27
Hi,

did anyone solve this issue so far? The service catalog is a viable feature…

[2018-02-10 07:45] dwmkerr opened #34 "Consider Azure Support"
A few colleagues have mentioned it would be useful, worth considering.

[2018-02-12 13:09] dwmkerr opened #36 "Make default instance size smaller to reduce costs"
The default instance sizing is production grade, but expensive for those who just want to try out OpenShift. Suggest making the default size smaller, with clear instructions on how to make it larger for prod

[2018-02-13 20:20] mtbvang commented on #27
Hi,

Are you guys still having this problem? Release 3.7 worked for me.

[2018-02-13 20:45] rberlind commented on #27
I have not used recently and had worked around it.
Roger

On Tue, Feb 13, 2018 at 3:20 PM, Vang Nguyen <notifications@github.com>
wrote:

[2018-02-13 20:50] yves-vogl commented on #27
I'm on holidays at the moment and have no access to the git repository of my company. But I've worked around this issue by making a small change to the playbook. Please ask me again in the mid of march if  you need some infos.

[2018-02-16 03:35] dwmkerr opened #39 "Pause OpenShift Installation until instances are ready"
A common source of errors is to run:

[code]

While the EC2 instances are still in an 'initilialsing' state. If we poll until the instances report as ready, it makes the installation more seamless and automation friendly. Likely needed for #38.

[2018-02-16 04:26] dwmkerr commented on #27
Looking at this as well at the moment, note to self:

https://docs.openshift.org/latest/install_config/configuring_aws.html#aws-cluster-labeling

May need to update the labelling logic introduced in #33

[2018-02-17 16:03] #18 closed

[2018-02-17 16:11] dwmkerr opened #40 "AWS / Kubernetes: Internal DNS is not supported"
When we use the AWS Cloud Provider (which is required for Persistent Volumes (see #33)), we lose the ability to name our nodes, e.g:

[code]

Becomes:

XXX

- https://github.com/kubernetes/kubernetes/issues/11543
- https://github.com/openshift/openshift-ansible/issues/5692

[2018-02-18 04:09] #3 closed

[2018-02-18 04:14] dwmkerr opened #42 "Add CONTRIBUTORS.md"
Would be a good to add an auto-generated CONTRIBUTOR list.

[2018-02-21 03:31] dwmkerr commented on #27
Hi @yves-vogl @rberlind @mtbvang,

Can you let me know the changes you had to make to get this to work? At the moment, when I try to install 3.7, I always get this issue:

[code]

My current work-in-progress branch for this is here (I've opened a PR to make it easy to see the changes):

https://github.com/dwmkerr/terraform-aws-openshift/pull/43

The key changes so far are:

1. Set `openshift_clust

[2018-02-21 13:26] rberlind commented on #27
Well, I cheated by disabling some things.  Specifically, I was able to install OpenShift Origin 3.7 by disabling the service catalog and TSB with:

openshift_enable_service_catalog=false
template_service_broker_install=false

I had also set openshift_repos_enable_testing=true in the inventory.template.cfg file.

[2018-02-21 14:16] sumitshatwara commented on #27
I also faced same issue around service catalog. I disabled below parameters as mentioned by @rberlind  in host inventory file:

openshift_enable_service_catalog=false
template_service_broker_install=false

And the deployment of OpenShift Origin 3.7 was successful:

INSTALLER STATUS *********************************************************************************************************************

[2018-02-22 04:35] dwmkerr commented on #27
@rberlind I've tried this just now but no joy! Any chance you can share your inventory so I can take a look?

@sumitshatwara You should be fine - the service catalog is an optional feature and you can test volumes without it, let me know how it goes!!

[2018-02-22 09:32] mtbvang commented on #27
@dwmkerr

I just applied my playbook again for openshift 3.7 for the modified version that runs on centos instead of rhel and it worked. I did get it running on rhel before making the changes to centos. I'm not hitting the issues that everyone else is so I'm a bit confused. The code I'm working with is in the centos branch in my fork.

Lower down I list my development setup and the few changes tha

[2018-02-25 19:44] piyushkv1 commented on #27
I'm also seeing the issue with 3.7 version.
TASK [template_service_broker : Verify that TSB is running] ******************************************************************************
FAILED - RETRYING: Verify that TSB is running (120 retries left).
FAILED - RETRYING: Verify that TSB is running (2 retries left).
FAILED - RETRYING: Verify that TSB is running (1 retries left).
fatal: [openshift.node.

[2018-02-27 22:50] rberlind commented on #27
Hi @dwmkerr,
I've attached my inventory.template.cfg file and my install-from-bastion.sh script.

I did this back in December, but I believe the key changes I made were the following:

inventory.template.cfg:
# Enable use of testing repos so that 3.7 will be used
# Note that this was before 3.7 was released, so it might not be needed anymore.
openshift_repos_enable_testing=true

openshift_enable_s

[2018-02-28 16:18] zhrum opened #44 "Where is the openshift.pem key stored?"
I have run "make infrastructure", and everything is ok.
But when I ran "make openshift", I cannot connect to the bastion machine.
ssh-keyscan -t rsa -H $(terraform output bastion-public_dns) >> ~/.ssh/known_hosts
write (ecxxxxxxxxxx.eu-west-1.compute.amazonaws.com): Connection refused
ssh -A ec2-user@$(terraform output bastion-public_dns) "ssh-keyscan -t rsa -H master.openshift.local >> ~/.ssh/kno

[2018-03-08 16:32] #44 closed

[2018-03-08 16:33] zhrum opened #46 "Can this support version 3.7?"

[2018-03-08 18:28] #46 closed

[2018-04-16 13:03] rberlind commented on #27
I have not @junsionzhang .  I have started working with this again, but have been creating a quite different version in which I trigger the ansible-playbook and all other installation steps with terraform remote-exec provisioners.  I have not put any of this in Github yet.

[2018-04-20 08:04] stanvarlamov commented on #27
Suggesting to bypass 3.7 for those who are not tied to a particular version and just want to build a working cluster on a supported version of OpenShift.

3.7 seems to have a number of packaging issues, and the 3.9 release created additional problems for the 3.7 install.

Things to change in the 3.7 branch here so that it can be used for the 3.9 install (amazingly, just a few):

1. Fix `00-tags.tf

[2018-04-20 13:04] rberlind commented on #27
Interesting that you mention the need to add "openshift_release=v3.9", @stanvarlamov.  I just hit this the day before yesterday when I started getting errors about short_version 3.9 not being valid when using the 3.7 version of openshift-ansible.  To keep using that version, I had to set openshift_release=v3.7.  I also noticed that the documentation suggested using "openshift_deployment_type" inst

[2018-04-20 14:00] stanvarlamov commented on #27
I think in the spirit of this repo being an excellent source of procedures to get a working OpenShift version up on AWS with a basic configuration - we should move the master branch to 3.9 as that has been released recently. I find the 3.9 install process **much improved** compare to 3.6 and 3.7, and overall 3.9 features and look&feel more appealing. That is, basically, my suggestion.

[2018-04-27 13:43] Spengreb commented on #27
@stanvarlamov I think you're right on this one.

A few months back I forked this project to make a multi-master setup using Centos instead of RHEL. Got all that working and noticed you guys added dynamic pv support so i merged with mine, i should mention as well before this i was using 3.7 just fine with few issues. After the merge a lot went wrong for me which i discovered you guys had already be

[2018-04-27 14:04] stanvarlamov commented on #27
@Spengreb OpenShift 3.9 appears to be much faster than 3.6-7 and more stanble; PV resize also seems to be an important feature available. Centos, metrics and logging work as a 1-click install - pretty amazing, considering the amount of time it took to work through 3.6 Ansible bugs and inconsistencies. Dynamic PV based on EBS is a sore point, through. It kind of assumes you are single-AZ, which def

[2018-04-30 14:44] dwmkerr commented on #27
@stanvarlamov @Spengreb yep agreed! Will start on the 3.9 setup shortly. 3.7 has been a total pain to get working, so I'm all in favour of skipping it for now, if for some reason someone really needs 3.7 we can always go back and try again when some more of the ansible issues are sorted, but for now 3.9 sounds like a sensible option!

[2018-05-01 13:32] dwmkerr opened #48 "Incorrect Security Group Specification forces EC2 instance recreation"
Using `security_groups` instead of `vpc_security_group_ids` means that we need to recreate all EC2 instances unnecessarily when reapplying the infrastructure. See #27 for details:

https://github.com/dwmkerr/terraform-aws-openshift/issues/27#issuecomment-383089119

[2018-05-01 13:33] dwmkerr commented on #27
I've updated master to install 3.9, I've also raised:

https://github.com/dwmkerr/terraform-aws-openshift/issues/48

To track the issue @rberlind mentioned about the `secutity_groups` setting.

If this works then let me know guys and I'll close the issue!

[2018-05-01 14:05] rberlind commented on #27
you can close.

[2018-05-01 14:05] #27 closed

[2018-05-01 14:25] #48 closed

[2018-05-01 14:26] dwmkerr opened #50 "Move Splunk into Master"
The splunk code is becoming stale in a PR. It should be moved to `master` and just toggled on/off in code.

[2018-05-08 03:59] stanvarlamov opened #51 "Add Support for NVMe EC2 Instances (m5, c5)"
As OpenShift 3.9 is now fully compatible with ec2 m5 instances - those can be used in the configuration, after this proposed `setup-master.sh` and `setup-node-sh` update:

Replace
[code]

with
[code]

[2018-05-13 13:25] dwmkerr commented on #51
Looks great @stanvarlamov, I'll hopefully get onto this shortly

[2018-05-14 09:29] spreemann opened #53 "Multiple OpenShift Environments in one AWS-Account"
Hi,
I try to setup an OpenShift Environment for Training purposes: cluster installation, generating project etc.

Thankfully I found the terraform-aws-openshift project :)

The idea I generated with Dave is just to copy the code in different folders and change the region as well as the cluster_name and cluster_id in the main.tf

So far so good, if you now want to make a new infrastructure ('make i

[2018-05-17 16:38] dspree commented on #53
Short update, what did I do - hardcoding:

Create multiple folders, set the variables and change the name of the roles: search&replace with sed.
[set {new name} as your favorite prefix.]

Not pretty efficient.
Are those profiles and instances neccessary?

Any other (smart) suggestions?

[2018-05-20 15:39] dwmkerr commented on #53
I'll look into whether there's a good way to eliminate the roles, probably not entirely but there might be something I can do on the Terraform side to make things more straightforward. Thanks for sharing your solution @dspree!

[2018-05-30 15:56] kelleyaj commented on #7
So if I make the change in inventory.template.cfg

[code]

Changing public_hostname to my domain like test.com would this not achieve that?

[2018-06-04 13:44] dwmkerr commented on #7
Hmm it's been a while since I raised the issue, so I can't remember! Did you check?

[2018-06-04 18:45] kelleyaj commented on #7
So I just tested this out and yes this does work.  Though make browse-openshift still first take you to that ip but you are then redirected to the domain name.  Thats an easy fix though.

[2018-06-06 14:29] rcdelacruz opened #57 "replacing self-signed cert to letsencrypt"
Hi, have you tried using letsencrypt? If yes, pls help what's the best way to set it up on master node.

[2018-06-21 22:53] bjwschaap commented on #40
Just a note to let you know this issue still isn't fixed with Openshift 3.9 unfortunately.

[2018-06-24 22:59] dwmkerr commented on #40
Thanks for the heads up @bjwschaap, I'll keep the issue open and cross my fingers for 3.10!

[2018-06-26 13:15] devnv13 commented on #31
@dwmkerr,
Exactly as mentioned by @ribeaud, we are doing POC and I've installed 3.9v successfully and it's up and running and we were able to login web UI. However, after shutdown and bring up, found that, unable to access Origin console URL https://master-node-public-IP:8443 with some error like firewall issue. I've checked inside master node, all services up and running and even getting nodes/po

[2018-07-27 18:21] bkconrad opened #58 "Support usage as a Terraform Module"
Basically I'd like to use this as *part* of the infrastructure I manage with Terraform. The idiomatic way of doing this is to use it as a module e.g.

[code]

However there are a few problems with this currently:

1. The ansible provisioning stuff is run through a Makefile, not immediately usable when this repo is used as a module. Ideally for use as a terraform module it would be managed via Terr

[2018-08-30 17:13] shierro commented on #36
Hi @dwmkerr did you have plan some plan to do this?

I needed to form the https://github.com/openshift/openshift-ansible repo

and reduce the memory check
https://github.com/shierro/openshift-ansible/blob/release-3.9/roles/openshift_health_checker/openshift_checks/memory_availability.py#L16

before `make openshift`works on a `t2.medium` instance..

Can you suggest ways on how I to scale the `t2.me

[2018-09-20 17:24] liuyuewen91 opened #60 "deploy with openshift release-3.6 not found playbooks/deploy_cluster.yml"
in openshift  git repo:
https://github.com/openshift/openshift-ansible

in branche 3.6 it hase no playbooks/deploy_cluster.yml

and install_from_bastion.sh

[code]
bring me the error.

i saw in readme  v3.6 is tested

[2018-10-17 10:02] hferentschik opened #62 "Use Elastic IPs for the various instances"
If Elastic IPs are used for each instance, the whole cluster can be stopped and restarted without any issues. This allows to create the cluster once and only start it when needed.

Atm, a restart of the cluster leads new IPs getting assigned to the instances, making it hard to ssh into the machine and even worse breaking the public route of the master.

Since aws_eip does not have a public DNS att

[2018-10-21 20:18] arashkaffamanesh opened #64 "Support for OKD 3.10, first run fails, second run works"
Some minor changes needs to be done to provide support for OKD 3.10, the main changes in inventory.template.cfg are:

[code]

and in install-from-bastion.sh set the branch to release-3.10:

[code]

But after the first run the following failure summary is shown, but the second run succeeds:

[code]

Could one confirm this behaviour on his / her side?

It seems this issue https://github.com/dwmkerr/

[2018-10-21 20:34] arashkaffamanesh commented on #64
O.k, it seems there are other problems too, docker-registry-1-deploy and router-1-deploy keep pending:

[code]

[2018-10-22 15:33] arashkaffamanesh commented on #64
The reason why docker registry and router are pending is because of missing infra nodes:
https://docs.openshift.com/container-platform/3.10/install/configuring_inventory_file.html

[code]

[2018-10-23 14:17] dwmkerr commented on #62
Just merged into `master` now!

[2018-10-23 14:17] #62 closed

[2018-10-23 21:20] dwmkerr commented on #64
Hey @arashkaffamanesh  - I got it working:

![image](https://user-images.githubusercontent.com/1926984/47391354-790b4e00-d711-11e8-91c6-92451a97346c.png)

The key was to update the AMIs to RHEL 7.5 (apparently 7.4 upwards will do). This fixes the kernel module issue. I also updated the code to tag the master node as an infra node (thanks for your tips on this one!)

[2018-10-23 21:35] dwmkerr commented on #60
I've created a release branch which should work for you, the details are here:

https://github.com/dwmkerr/terraform-aws-openshift#choosing-the-openshift-version

If there are any issues just let me know!

[2018-10-23 21:35] #60 closed

[2018-10-29 00:33] dwmkerr opened #66 "Incorporate Latest Terraform Interpolation Syntax"
The changes below will clean up the handling of tags:

https://github.com/hashicorp/terraform/issues/14516#issuecomment-433574117

This will be in v0.12

[2018-11-06 15:20] zoobab opened #67 "Use a templated sshconfig instead using the SSH ProxyJump feature instead?"
Hi,

I just make a simple sshconfig file from a template which uses the ProxyJump feature of SSH:

https://wiki.gentoo.org/wiki/SSH_jump_host

The hardcoded sshconfig file looks like this:
[code]

To ssh to the master, bastion, node1, node2:

[code]

To what I can figure out, the "ForwardAgent yes" seems to do the job to add automatically the key to the ssh-agent, which I found fragile right now.

[2018-11-06 15:30] zoobab commented on #67
The IdentityFile can even be hardcoded to ```IdentityFile ~/.ssh/id_rsa```, it works with the reference to HOME as ~.

So the only think that needs to be templated is the ```bastion-public_ip```.

[2018-11-06 16:41] zoobab commented on #67
I would also investigate to run/rewrite the shell scripts as ansible roles, and use this feature:

https://docs.ansible.com/ansible/latest/reference_appendices/faq.html#how-do-i-configure-a-jump-host-to-access-servers-that-i-have-no-direct-access-to

[2018-11-07 13:02] zoobab opened #69 "Use the requirements.txt instead of hardcoding the version of ansible?"

[2018-11-09 12:00] dwmkerr commented on #67
Hi @zoobab sounds great! If you want to go for it with a PR I'd love to take a look. I'd take a look myself but am slammed for the next couple of weeks.

[2018-11-09 12:10] dwmkerr commented on #69
Agreed, sounds more sensible. I'll take a look into this once I look at 3.11.

[2018-11-12 10:14] zoobab commented on #67
I will make a branch with my changes, but I have a problem to run ansible as root on the bastion, as the keyforwarding does not seem to work for the root user, even with sudo -E .

[2018-11-22 14:09] mighani opened #70 "okd release-3.11"
How to support 3.11? Just changing version in the install-from-bastion.sh is not enough. Anything else to change?

[2018-11-22 14:53] zoobab commented on #67
I have made some notes here:

https://github.com/zoobab/terraform-aws-openshift/blob/master/sshjump.md

Will try to make a branch with a demo, but I need to find time as I am on the release-3.9 branch. I have to solve the sudo problem, probably by exporting the ssh-agent file between the ec2-user and root.

[2018-12-04 23:33] VineetReynolds commented on #70
Got OKD 3.11 installation to work to a fair degree on Centos 7.6 working using the following changes:

* Set the branch to `release-3.11` in install-from-bastion.sh.
* Set `openshift_release=v3.11` in inventory.template.cfg#L23
* Added an additional repo to point to http://mirror.centos.org/centos/7/paas/x86_64/openshift-origin311/, via the following entry in `inventory.template.cfg`: `openshift_a

[2018-12-05 04:32] VineetReynolds commented on #70
Component failures in okd 3.11 installations on Centos seem to be related to a newer version of Docker. See: https://github.com/kubernetes/kubeadm/issues/1299#issue-387454536

[2018-12-06 15:55] VineetReynolds commented on #70
@mariusfilipowski Yes, the openshift-ansible scripts need some modification for Centos 7 https://github.com/VineetReynolds/openshift-ansible/commit/2c54d74ac02c84491695a268907c0fbb88be01cd

[2018-12-11 13:40] skatdutta opened #71 "Could not open to access the console in the browser"
Hi Dave,
Able to install openshift and could verify that pods are running but could not access the
console as the installation did not promt the console URL at the end.

further trying this, following error comes -
[ec2-user@ipx.x.x.x terraform-aws-openshift]$ make browse-openshift
open $(terraform output master-url)
Couldn't get a file descriptor referring to the console
[ec2-user@ipx.x.x.x terra

[2018-12-16 11:56] dwmkerr commented on #71
That's really odd. Can I infer from the output that you were running the `makefile` from another EC2 instance rather than a local machine?

[2018-12-20 10:56] krishan03 opened #72 "Unable to log in to the Web console with default password"
Hi,

I am unable to log in to the OKD web console using the username: admin and the password: 123.

[2018-12-20 14:08] zoobab commented on #70
@mariusfilipowski I had to make a custom playbook to install docker, and NetworkManager, and this one was problematic since it required a reboot (!) to work properly. I can share the playbooks to have a basic Centos 7 install as a pre step if you are interested.

[2018-12-20 14:18] dwmkerr commented on #70
It'd be great to see how you did it @zoobab I'm sure it'd help others coming across these issues!

[2019-01-07 02:35] iboware opened #73 "Creating Loadbalancer fails because of multiple tagged security groups"
Hi,

When I'm creating a service as type of LoadBalancer I'm getting following error. It gives the same error for both worker node. I couldn't figure out what is multiple tagged security groups. Anyone having same issue or fix for it?

[code]

[2019-01-11 17:41] mathus13 opened #74 "Install to an existing VPC"
Thank you for this. I am new to openshift/k8, and still pretty new to AWS. Using terraform to bootstrap this is so helpful.

I have a need to create the openshift cluster in a pre-existing vpc and subnet.
I am wondering what the best method is to bypass the vpc creation and pass the vpc and subnet ids as a variable

[2019-01-13 09:06] dio commented on #72
You can `make ssh-master` and do the `htpasswd` magic there. I guess your post-install script was not being executed.

When you're inside the master node.

[code]

[2019-01-14 10:55] dwmkerr commented on #74
Hi @mathus13 it will not be possible to add to an existing VPC without some modification to the Terraform code I'm afraid! If you are struggling to do it let me know and I will try to find some time to help.

[2019-01-15 20:38] dwmkerr commented on #74
Yes that would be awesome!

On Mon, 14 Jan 2019 at 3:21 PM, Shawn Barratt <notifications@github.com>
wrote:

[2019-01-29 18:41] ezeev opened #75 "openshift_hostname is replaced by Removed"
I'm doing a clean install on AWS following the steps in the README. `make infrastructure` succeeds. `make openshift` fails with the following error:

[code]

I just cloned the master branch of this repo today:

[code]

Any idea what is causing this?

[2019-01-30 15:33] zoobab commented on #70
Here is my adhoc yaml ```openshift-ansible/playbooks/adhoc/bootstrap-centos.yaml``` for centos7, feel free to adapt as you wish:

[code]

[2019-02-12 22:56] arashkaffamanesh commented on #74
@mathus13 any news about this issue?

[2019-02-20 15:47] mathus13 commented on #75
@ezeev Have you had any luck? I know I removed no variables, how about you?

[2019-02-20 16:03] mathus13 commented on #74
@arashkaffamanesh Time has been tight to write any kind of conditional, but I was able to make it work by emptying step 7 and replacing references to the created VPC and Subnet ids with passed variables.

I would consider this a closed issue, and if I can find time to write functionality for this I will post a PR.

[2019-02-20 16:42] ezeev commented on #75
@mathus13 - No luck. We decided to move on to the OpenShift 4.0 developer preview. The installer works awesome. https://try.openshift.com

[2019-03-01 12:47] ashishgit2learn opened #76 "Failed to pull image "<ip.xip.io/project/name:version": rpc error: x509: certificate signed by unknown authority"
While create an app through oc create specifying yaml file which having images path is getting fail and getting below exception , how to resolve this.

Also docker gets stuck during restart. nothing comes up , whats the perfect way.

Failed to pull image "docker-registry-default.ip.xip.io/project/name": rpc error: code = Unknown desc = Get https:/docker-registry-default.ip.xip.io/project/name : x5

[2019-03-04 12:17] dwmkerr commented on #40
This may never be fixed - https://github.com/openshift/openshift-ansible/issues/9665 suggests that `openshift_hostname` has been removed, as private 'vanity names' seemed to cause issues. Investigate later

[2019-03-04 12:18] dwmkerr commented on #75
According to this issue:

https://github.com/openshift/openshift-ansible/issues/9665

`openshift_hostname` is no longer a valid configuration value - it seemed to be causing a number of issues (#40 as an example). I am removing the usage of `openshift_hostname` and re-testing. If it works, I'll release an update and close this issue.

[2019-03-05 12:45] #71 closed

[2019-03-05 12:45] #72 closed

[2019-03-05 12:45] #75 closed

[2019-03-06 00:40] #70 closed

[2019-03-06 00:42] dwmkerr opened #79 "feat: support CentOs 7.5"
See the chain on #70

[2019-03-06 00:43] dwmkerr commented on #70
Hi all, thanks for the comments! I've closed this issue as OKD 3.11 is working fine now, but created a new, more specific issue to track the CentOS 7.5 challenges (#79).

[2019-03-06 00:48] dwmkerr opened #80 "feat: create issue template"
It would be useful to have an issue template allowing people to specify the openshift version, and do some sanity checks (e.g. re-running `make openshift`).

[2019-03-06 00:48] dwmkerr opened #81 "feat: OKD 3.12"

[2019-03-06 00:48] dwmkerr opened #82 "feat: OKD 3.13"

[2019-03-28 17:54] mmussett opened #83 "Running make infrastructure fails with error"
$ make infrastructure
# Get the modules, create the infrastructure.
terraform init && terraform get && terraform apply -auto-approve
Initializing modules...
- module.openshift

Initializing provider plugins...

The following providers do not have any version constraints in configuration,
so the latest version was installed.

To prevent automatic upgrades to new major versions that may contain brea

[2019-04-01 09:01] krishan03 commented on #83
In the modules/openshift folder, make the following change in the 07-dns.tf file:

just replace vpc_id = "${aws_vpc.openshift.id}" line with vpc {  vpc_id = "${aws_vpc.openshift.id}" }

[2019-04-02 09:08] dwmkerr commented on #83
Well spotted - fixing it now. I noticed this when forking over to `terraform-aws-kubernetes` (which I've not published yet). Will update in a min

[2019-04-03 03:04] #83 closed

[2019-04-03 03:04] dwmkerr commented on #83
Resolved in `master`, thanks all!

[2019-04-04 14:45] dearteno opened #85 "CHECK [memory_availability] fail when run ansible playbook"
CHECK [memory_availability : ip-10-0-1-238.ap-southeast-1.compute.internal] ****
fatal: [ip-10-0-1-238.ap-southeast-1.compute.internal]: FAILED! => {"changed": true, "checks": {"disk_availability": {}, "docker_image_availability": {"changed": true, "failed": true, "failures": [["OpenShiftCheckException", "One or more required container images are not available:\n    quay.io/coreos/etcd:v3.2.22\nCh

[2019-04-05 02:10] dwmkerr commented on #85
Will take a look into this shortly. Any special changes you made to the setup that made it non-standard?

[2019-04-05 04:21] dearteno commented on #85
no, just make infrastructure and make openshift.

[2019-04-05 05:08] dwmkerr commented on #85
Have you tried rerunning make openshift? It can be a little flakey on the
ansible side, but is idempotent so safe to run and rerun

On Fri, 5 Apr 2019 at 12:21 PM, Pichate Ins <notifications@github.com>
wrote:

[2019-04-05 05:32] dearteno commented on #85
i try to run many time. but still got same error

[2019-04-10 12:57] dwmkerr commented on #85
I am trying to reproduce locally. Looks like you have encountered this:

https://github.com/openshift/openshift-ansible/issues/11369

I have some other things I'm looking into (see below) but for now I think it is the issue above. Will update this comment as tI debug more.

---

*Potential things to try*

1. try deleting your local `.terraform` folder (after running `terraform destroy`) and then r

[2019-04-11 10:57] dearteno commented on #85
I was testing on ap-southeast-1 got the same issue but the  ap-southeast-2 was working smoothly

[2019-04-11 14:32] dwmkerr commented on #85
That is bizarre.... Let me see if I can repro in the same way

[2019-05-14 21:52] kenhuang commented on #57
There was some guide on this post:
https://www.redpill-linpro.com/sysadvent/2017/12/15/letsencrypt-on-openshift.html

Would be great support this feature by this project.

[2019-05-14 22:17] kenhuang commented on #57
Also found this:

https://github.com/openshift/openshift-docs/blob/master/install_config/redeploying_certificates.adoc#redeploying-all-certificates-current-ca

Maybe can utilize this:

[code]

[2019-05-14 22:42] kenhuang opened #87 "Not able to login to cluster console"
After installing OKD 3.11 from the latest master, I am not able to navigate to cluster console.

As showing in the screenshot below, keep getting redirect back to the login screen. I was able to navigate to application console, using oc cli without any issue.

<img width="1416" alt="Screen Shot 2019-05-15 at 9 47 30 AM" src="https://user-images.githubusercontent.com/205194/57736788-6718e900-76fd-1

[2019-05-19 13:37] dwmkerr commented on #87
That is bizarre, will attempt to reproduce shortly...

[2019-05-19 13:38] dwmkerr commented on #57
Absolutely brilliant idea! Will start on this soon :)

[2019-06-27 10:08] ddanijel commented on #87
Does anyone have the same problem? After installing OKD 3.11 I am also not able to log in neither to the dashboard nor to oc cli.

[2019-06-30 05:47] dwmkerr commented on #87
QQ did you get any errors after running the `make openshift` command? I.e. did ansible fail at any steps? Have you tried repeating the command in case a second attempt fixes it? It is likely to be issues with the generation of the user credentials I expect...

[2019-07-12 16:34] andeq4q opened #88 "Trying to use"
I'm sure I'm doing something wrong but when I try to do a make infrastructure I get the following:

/aws-openshift/terraform-aws-openshift>make infrastructure
# Get the modules, create the infrastructure.
terraform init && terraform get && terraform apply -auto-approve
Initializing modules...

Initializing the backend...

Initializing provider plugins...

The following providers do not have any ve

[2019-07-18 13:17] dwmkerr commented on #88
OK, to attempt to reproduce I set up a clean install:

[code]

Exactly the same issue, I am fixing it now (moving to the latest template syntax then locking the specific provider versions so that we don't get this kind of issue again).

[2019-07-18 15:27] #88 closed

[2019-07-18 15:29] dwmkerr commented on #87
I have re-tested with the latest version just from master, just updated. It works fine. Can you delete your resources, run:

[code]

Wait for 5 mins to make sure instances are alive, then run `make openshift`. Once this is done, see if `make ssh-master` works - if it does, you should be ssh-d onto the master node and able to run `oc status`, then let me know what the output is~

[2019-07-18 15:29] dwmkerr commented on #88
Fixed! Just merged to master now.

[2019-07-19 12:50] andeq4q commented on #88
Thank you very much, it worked like a charm.

[2019-07-20 01:36] dwmkerr commented on #88
Great! Glad it is sorted @andeq4q and thanks for letting me know about the issue!

[2019-09-06 06:44] ashishxooa commented on #85
I am also getting the same issue, it worked yesterday, I destroyed everything and then when I tried it again, getting the issue even after several retries, deleted the tf state files and tried everything from beginning still getting the same issue.

[2019-09-23 16:10] efess commented on #85
I was getting this as well. The issue may be related to this issue:

[https://github.com/openshift/openshift-ansible/issues/10741](https://github.com/openshift/openshift-ansible/issues/10741)

The workaround to disable the availability check worked for me and I was able to install this cluster successfully.

[2019-09-30 17:29] himoacs commented on #85
I am running into same issue. I tried running in us-east-1 and ap-southeast-2 but got the same error.

`CHECK [memory_availability : ip-10-0-1-45.ap-southeast-2.compute.internal] *****
fatal: [ip-10-0-1-45.ap-southeast-2.compute.internal]: FAILED! => {"changed": true, "checks": {"disk_availability": {}, "docker_image_availability": {"changed": true, "failed": true, "failures": [["OpenShiftCheckExc

[2019-09-30 18:44] himoacs opened #90 "Unable to connect to openshift after installation"
Hi,

First of all, thanks for this useful way of installing openshift. I appreciate it!

Secondly, I ran into the docker image issue which I was able to bypass by ignoring the docker checks. However, after the installation, I am not able to connect to openshift by running the:
`open $(terraform output master-url)` command.

I logged into the master node and could see the pods:

[code]

When I try

[2019-09-30 20:30] bhajian commented on #90
Same here, I cannot connect to the master from outside VPC.

[2019-10-03 16:02] cloudwaves opened #91 "Error Installing OpenShift"
I am trying to install openshift within existing VPC and I have modified the Terraform, The "build Infrastructure" is success then I messed somewhere and unable to run "build openshift" due to Permission denied (publickey). I used my own keypair to build the infrastructure. Will you point out the issue? Thank you!!!

[2019-10-03 18:02] cloudwaves opened #92 "OpenShift 4.x"
Is they Anyway to install openshift 4.x in AWS using updating this terraform?

[2019-10-07 06:34] dwmkerr commented on #92
Currently not with this repo, but if there is a desire for this feature I'll happily put it to the top of the backlog!

[2019-11-12 21:42] FridMehdi commented on #85
@dwmkerr  hello any workaround for this issue ? I have the same problem

[2019-11-13 16:23] kawsark commented on #92
I would like to +1 this request. This repo has been super helpful for me, thank you for writing and maintaining it. I am coming across needs to provision OpenShift 4.x now. I have not provisioned OpenShift before other than using a fork of this repo.

[2020-01-03 11:49] skatdutta opened #93 "check "docker_image_availability":One or more required container images are not available"
Tried several times but this is not working. Getting the below error:

CHECK [memory_availability : ip-10-0-1-28.us-east-2.compute.internal] **********
fatal: [ip-10-0-1-28.us-east-2.compute.internal]: FAILED! => {"changed": true, "checks": {"disk_availability": {}, "docker_image_availability": {"changed": true, "failed": true, "failures": [["OpenShiftCheckException", "One or more required contain

[2020-01-03 11:50] skatdutta commented on #93
Even tried to delete terraform setup and run, but no luck. Tried different region as well. Kindly help if this is working for you guys.

[2020-01-03 15:25] skatdutta commented on #93
On further checking found that docker is not installed inside the nodes.

[2020-01-03 15:26] skatdutta commented on #93
Anyone recently used this project, please let me know how to resolve the issue?

[2020-01-14 13:01] Jani93 commented on #93
I'm having the same problem Lol.

[2020-02-03 22:00] priteshchandaliya commented on #93
Any update on how to fix this issue? I tried putting in `openshift_disable_check=docker_image_availability,docker_storage,package_availability` option under the inventory file but that too leads to more such errors.

[2020-02-16 20:33] smilhomme commented on #93
Having the same problem, I confirm docker is not installed and will not install with "yum install docker" as it is tried by the script. I decided to move away from RHEL because of the costs, so I changed the AMI from RHEL to amazonlinux (in 06-nodes.tf), docker installs but the ansible script fails when verifying the presence of NetworkManager which won't install on AmazonLinux.
Then I tried using

[2020-03-17 01:20] Jani93 commented on #40
Does this mean we can't run this deployment on a private subnet using private ip/dns names?

[2020-03-27 10:01] lejeczek commented on #85
I too see the same with openshift-ansible-3.11.37-1.git.0.3b8b341.el7.noarch on Centos 7.
First is:
`CHECK [memory_availability : ....`
followed by:
`    Message:  One or more checks failed
     Details:  check "docker_image_availability":
               One or more required container images are not available:
                   docker.io/cockpit/kubernetes:latest,
                   docker.io/ope

[2020-04-20 09:51] amoonakal opened #94 "Ansible failing while installing python-docker-py"
While executing prerequisite.yml from install-from-bastion.sh, ansible installation fails at

TASK [Ensure openshift-ansible installer package deps are installed]
attempts": 3, "changed": false, "msg": "No package matching 'python-docker-py' found available,

package python-docker-py fails getting installed.

As suggested by @zoobab though for centos, I tried adding the yum repo in one of the RHEL

[2020-10-05 22:47] josefz1702 opened #95 "Error to Configure nodes Task: Setting sebool container_manage_cgroup Message: SELinux boolean container_manage_cgroup does not exist."

[2020-10-06 03:34] josefz1702 commented on #95
I am running the make openshift statement and I am not able to finish the deploy of the cluster.